
@{
    ViewBag.Title = "Operator";
}


<head>

    <link type="text/css" rel="stylesheet" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Content/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
</head>

<body>

    <section id="operatorDashboard">


        <div class="container" style="height: 1000px;">
            <div class="row" style="height: 100%;">

                <!--SIDEBAR-->
                <div class="col-md-3">

                    <!--Header for SideBar-->
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>SideBAR</h3>
                            </div>
                        </div>
                    </div>
                    <!--END Header for SideBar-->

                    <!--NavItems-->
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav" style="background-color: #797979; height: 800px;">
                               <li>
                                   <a href="#">
                                       <span>
                                           <i class="fa fa-lg fa-bank" style="float: left; vertical-align: middle;"></i> DASHBOARD
                                       </span>
                                      
                                   </a>
                               </li>
                                
                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-lg fa-area-chart" style="float: left;"></i> ANALYTICS
                                        </span>

                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-lg fa-balance-scale" style="float: left;"></i> VENDORS
                                        </span>

                                    </a>
                                </li>

                                <li>
                                    <a href="#">
                                        <span>
                                            <i class="fa fa-lg fa-question-circle-o" style="float: left;"></i> ITEM 4
                                        </span>

                                    </a>
                                </li>


                            </ul>


                        </div>
                    </div>
                    <!--END NavItems-->


                </div>
                <!--End SIDEBAR-->

                <!--MainArea-->
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-12">

                            <!--Header for Main Area-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <h3>Main Area</h3>
                                    </div>
                                </div>
                            </div>
                            <!--END Header for Main Area-->

                            <!--Main area Content-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel">
                                    
                                    <!--table showing all jobs (with status, etc, etc) -->
                                    
                                     @model List<JobModel>

										 <table>
										
										 @foreach(JobModel Job in Model)
										 {
										   <tr>
										      <td>job ID</td>
										      <td>due date</td>
										   </tr>
										 }
										 </table>








                                    </div>
                                </div>
                            </div>
                            <!--END Main area Content-->


                        </div>
                    </div>
                </div>
                <!--END MainArea-->



            </div>
        </div>


    </section>
</body>