@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>AFE Wellbook</title>
    <meta charset="UTF-8">

    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    
    <!-- responsive menu end -->
</head>


<header id="header">

    <div class="container">
        <div class="header-left">
            <div class="phone-image">
                <img src="images/call-symbol.png" alt="Call" width="22" height="24">
            </div>
            <div class="phone-no">
                <p>123 456 7890</p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="header-center">
            <div class="logo">
                <a href="index.html"><img src="images/logo.png" alt="Logo" width="130" height="167"></a>
            </div>
        </div>
        <div class="header-right">

            <div class="email-image">
                <img src="images/email-symbol.png" alt="E-Mail" width="26" height="17">
            </div>
            <div class="email-address">
                <a href="mailto:inquiry@afewellbook.com">inquiry@afewellbook.com</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>


</header>

<section class="HomePage">
    <!-- responsive menu -->
    <div class="side-menu">
        <div class="close-button">
            Close
            <i class="fa fa-times"></i>
        </div>
        <ul>
            <li><a href="index.html" class="active">HOME</a></li>
            <li><a href="index.html">ABOUT US</a></li>
            <li><a href="index.html">PRODUCT RANGE</a></li>
            <li><a href="index.html">INFRASTRUCTURE</a></li>
            <li><a href="index.html">WAHT'S NEW</a></li>
            <li><a href="index.html">ENQUIRY</a></li>
            <li><a href="index.html">QUALITY</a></li>
            <li><a href="index.html">CONTACT US</a></li>
        </ul>
    </div>
    <div class="menu">
        Menu
        <div class="menu-trigger">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>
    <!-- responsive menu end -->
    <div id="wrapper">

        <!--header -->
        <header id="header">

            <div class="container">
                <div class="header-left">
                    <div class="phone-image">
                        <img src="images/call-symbol.png" alt="Call" width="22" height="24">
                    </div>
                    <div class="phone-no">
                        <p>123 456 7890</p>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="header-center">
                    <div class="logo">
                        <a href="index.html"><img src="images/logo.png" alt="Logo" width="130" height="167"></a>
                    </div>
                </div>
                <div class="header-right">

                    <div class="email-image">
                        <img src="images/email-symbol.png" alt="E-Mail" width="26" height="17">
                    </div>
                    <div class="email-address">
                        <a href="mailto:inquiry@afewellbook.com">inquiry@afewellbook.com</a>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>


        </header>
        <!--header -->
        <!--section -->
        <section id="section">
            <div class="slider">
                <div class="bx-wrapper" style="max-width: 100%;">
                    <div class="bx-viewport" style="width: 100%; overflow: hidden; position: relative; height: 981px;">
                        <ul class="bxslider" style="width: 415%; position: relative; transition-duration: 0s; transform: translate3d(-1903px, 0px, 0px);">
                            <li style="float: left; list-style: none; position: relative; width: 1903px;" class="bx-clone"><img src="images/slider-image-2.jpg" alt="Slider Image2" width="1600" height="825"></li>
                            <li style="float: left; list-style: none; position: relative; width: 1903px;"><img src="images/slider-image-1.jpg" alt="Slider Image1" width="1600" height="825"></li>
                            <li style="float: left; list-style: none; position: relative; width: 1903px;"><img src="images/slider-image-2.jpg" alt="Slider Image2" width="1600" height="825"></li>
                            <li style="float: left; list-style: none; position: relative; width: 1903px;" class="bx-clone"><img src="images/slider-image-1.jpg" alt="Slider Image1" width="1600" height="825"></li>
                        </ul>
                    </div><div class="bx-controls bx-has-pager bx-has-controls-direction"><div class="bx-pager bx-default-pager"><div class="bx-pager-item"><a href="" data-slide-index="0" class="bx-pager-link active">1</a></div><div class="bx-pager-item"><a href="" data-slide-index="1" class="bx-pager-link">2</a></div></div><div class="bx-controls-direction"><a class="bx-prev" href="">Prev</a><a class="bx-next" href="">Next</a></div></div>
                </div>
                <div class="slider-caption">
                    <div class="container">
                        <p>We Provideing Automated Data Analytics &amp; Virtual Commerce Center</p>
                    </div>
                </div>
                <div class="slider-btn-area">
                    <div class="container">
                        <div class="inner-slider-btn">
                            <div class="btn-left-area">
                                <a href="~/Login/Index?loginType=Operator">Operator</a>
                            </div>
                            <div class="btn-right-area">
                                <a href="~/Login/Index?loginType=Vendor">Vendor</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="content-area">
                <div class="container">
                    <div class="content">
                        <p>AFE Wellbook Will Accomplish This By Enabling Both Parties To Have Digital Access To Bids, Quotes, Data, And Contact Information All In A Centralized Location Easily Accessed Via Mobile Device, Tablet, Laptop, Or Computer.</p>
                    </div>
                </div>
            </div>


            <div class="fetures">
                <div class="feture-cover">
                    <div class="container">
                        <div class="title">
                            <h1>AFE Wellbook Features</h1>
                        </div>
                        <div class="feture-content">
                            <div class="feture-left">
                                <div class="left-top">
                                    <div class="left-part">
                                        <h4>Bids</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis eioj</p>
                                    </div>
                                    <div class="right-part right1">

                                    </div>
                                    <div class="clear"></div>
                                </div>


                                <div class="left-bottom">
                                    <div class="left-part">
                                        <h4>Quotes</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis eioj</p>
                                    </div>
                                    <div class="right-part right2">

                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="feture-right">
                                <div class="right-top">
                                    <div class="left-part round">
                                        <h4>Data</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis eioj</p>
                                    </div>
                                    <div class="right-part right3">

                                    </div>
                                    <div class="clear"></div>
                                </div>


                                <div class="right-bottom">
                                    <div class="left-part round">
                                        <h4>Contact Info</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euis eioj</p>
                                    </div>
                                    <div class="right-part right4"></div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>



            <div class="benifit">
                <div class="container">
                    <div class="title benifit-title">
                        <h1>AFE Wellbook Benefits</h1>
                    </div>
                    <div class="benifit-content">
                        <div class="benifit-left">
                            <div class="benifit-list">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetuer adipiscing elit,</li>
                                    <li>Nibh euismod tincidunt ut</li>
                                    <li>Duis autem vel eum iriure</li>
                                </ul>
                            </div>
                        </div>
                        <div class="benifit-center">
                            <a href="index.html"><img src="images/iphone-logo.png" width="189" height="252" alt="Mobile Logo"></a>
                        </div>
                        <div class="benifit-right">
                            <div class="benifit-list left-list right-list">
                                <ul>
                                    <li>Lorem ipsum dolor sit amet</li>
                                    <li>Consectetuer adipiscing elit,</li>
                                    <li>Nibh euismod tincidunt ut</li>
                                    <li>Duis autem vel eum iriure</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>


            <div class="solution">
                <div class="container">
                    <div class="solution-content">
                        <h3>need a solution?</h3>
                        <h5>Call Us Today <span> 123 - 456 - 7890 </span></h5>
                    </div>
                </div>
            </div>

        </section>



        <!--section -->
        <!--footer -->
        <footer id="footer">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-content">
                        <h2>Contact us</h2>
                        <h3>Your Comments Are A Valuable Source of Our Work Improvement</h3>
                        <p>Telephone: + 123 456 7890</p>
                        <p>FAX: + 123 456 7890</p>
                        <p class="mail">Email:<a href="mailto:inquiry@afewellbook.com"> inquiry@afewellbook.com</a></p>
                        <div class="social-media">
                            <ul>
                                <li><a href="https://www.facebook.com/" target="_blank"><span><i class="fa fa-facebook"></i></span></a></li>
                                <li><a href="http://www.twitter.com/" target="_blank"><span><i class="fa fa-twitter"></i></span></a></li>
                                <li><a href="https://www.google.co./" target="_blank"><span><i class="fa fa-google-plus"></i></span></a></li>
                            </ul>
                            <div class="clear"></div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="footer-bottom">

                <p>Copyright  2016 <a href="index.html">Afe Wellbook.</a> All Rights Reserved.</p>
            </div>
        </footer>
        <!--footer -->

    </div>





</section>